In [1]:
import pandas as pd

dataset_path = 'data/lab1_data.xlsx'
dataset = pd.read_excel(dataset_path)
display(dataset)

                      Unnamed: 0     x1      x2     x3     x4     x5   Округ
0           Белгородская область  7 777  14 918  2 825  2 009  1 841  сenter
1               Брянская область  4 560  10 211  1 538  1 418    837     NaN
2           Владимирская область  5 802   8 902  1 703  1 468    NaN  сenter
3            Воронежская область    NaN  17 186  3 362  2 458  4 347  сenter
4             Ивановская область  4 495   5 649  1 338    977  1 288  сenter
..                           ...    ...     ...    ...    ...    ...     ...
80              Амурская область  2 954   7 211    929    977    829      dv
81           Магаданская область    787   1 215    331    202     97      dv
82           Сахалинская область  3 332   4 511    792    507    131      dv
83  Еврейская автономная область    803     NaN    175    187     57      dv
84    Чукотский автономный округ    292     713    179     36      2      dv

[85 rows x 7 columns]

In [7]:
# solve non-breaking space issue
dataset_copy = dataset.copy()
dataset_copy = dataset_copy.replace(to_replace='\xa0', value='', regex=True)
display(dataset_copy)

                      Unnamed: 0    x1     x2    x3    x4    x5   Округ
0           Белгородская область  7777  14918  2825  2009  1841  сenter
1               Брянская область  4560  10211  1538  1418   837     NaN
2           Владимирская область  5802   8902  1703  1468   NaN  сenter
3            Воронежская область   NaN  17186  3362  2458  4347  сenter
4             Ивановская область  4495   5649  1338   977  1288  сenter
..                           ...   ...    ...   ...   ...   ...     ...
80              Амурская область  2954   7211   929   977   829      dv
81           Магаданская область   787   1215   331   202    97      dv
82           Сахалинская область  3332   4511   792   507   131      dv
83  Еврейская автономная область   803    NaN   175   187    57      dv
84    Чукотский автономный округ   292    713   179    36     2      dv

[85 rows x 7 columns]

In [21]:
# convert objects to int64 and excludes anomaly
categories_of_teachers = ['x1', 'x2', 'x3', 'x4', 'x5']
dataset_copy[categories_of_teachers].convert_dtypes()

for i in categories_of_teachers:
    dataset_copy[i] = pd.to_numeric(dataset_copy[i], errors='coerce')

dataset_copy.head(-1)

,Unnamed: 0,x1,x2,x3,x4,x5,Округ
0,Белгородская область,7777.0,14918.0,2825.0,2009.0,1841.0,сenter
1,Брянская область,4560.0,10211.0,1538.0,1418.0,837.0,NaN
2,Владимирская область,5802.0,8902.0,1703.0,1468.0,NaN,сenter
3,Воронежская область,NaN,17186.0,3362.0,2458.0,4347.0,сenter
4,Ивановская область,4495.0,5649.0,1338.0,977.0,1288.0,сenter
...,...,...,...,...,...,...,...
79,Хабаровский край,5689.0,10688.0,1877.0,1648.0,1800.0,dv
80,Амурская область,2954.0,7211.0,929.0,977.0,829.0,dv
81,Магаданская область,787.0,1215.0,331.0,202.0,97.0,dv
82,Сахалинская область,3332.0,4511.0,792.0,507.0,131.0,dv
83,Еврейская автономная область,803.0,NaN,175.0,187.0,57.0,dv

In [22]:
dataset_copy.describe()

                 x1             x2           x3           x4            x5
count     83.000000      84.000000    84.000000    83.000000     83.000000
mean    7333.084337   14787.750000  2519.428571  1811.385542   2169.903614
std     6485.396645   14727.063192  2095.862173  1520.177259   4228.748133
min      292.000000     614.000000   111.000000    36.000000      2.000000
25%     3354.500000    6754.250000  1212.000000   814.000000    641.500000
50%     5562.000000    9825.000000  1798.500000  1384.000000   1169.000000
75%     8434.000000   18761.250000  3161.000000  2378.500000   2404.500000
max    33195.000000  108858.000000  9967.000000  7924.000000  33757.000000